<div class="timeline">
  <table>
    <tbody>
    <tr>
      <td class="trWhen"></td>
      <td class="trWhat"></td>
      <td class="trWhere"></td>
    </tr>

    <tr>
      <td class="trWhen">44 SM</td>
      <td class="trWhat"><a href="">Julis Caesar</a> ditusuk hingga mati oleh <a href="">Marcus Junius Brutus</a> dan beberapa senator Romawi. Pembunuhan ini memicu perang saudara dan menjadi akhir dari Republik Romawi</td>
      <td class="trWhere">Roma</td>
    </tr>
    <tr>
      <td class="trWhen">-13.800juta</td>
      <td class="trWhat">Big Bang<br>Munculnya zat dan energi yang menjadi awal fisika, dan munculnya atom dam molekul yang menjadi awal kimia</td>
      <td class="trWhere">Konstantinopel/Istanbul, Turki</td>
    </tr>

    <tr>
      <td class="trWhen">89 M</td>
      <td class="trWhat">Micro-Utopias Mixed-media installation design and build; concept, strategy, 2D/3D design, coding, writing; with Form&amp; New York in collaboration with IAMW17, Barcelona</td>
      <td class="trWhere">Konstantinopel/Istanbul, Turki</td>
    </tr>
    <tr>
      <td class="trWhen"></td>
      <td class="trWhat"></td>
      <td class="trWhere"></td>
    </tr>
    </tbody>
  </table>
</div>