<div class="timeline" *ngIf="events$ | async as events; else loading">
  <table>
    <tbody>
      <tr>
        <td class="trWhen"></td>
        <td class="trWhat"></td>
        <td class="trWhere"></td>
      </tr>

      <tr *ngFor="let event of events">
        <td class="trWhen">{{ event.when }}</td>
        <td class="trWhat" [innerHTML]="event.what"></td>
        <td class="trWhere">{{ event.where }}</td>
      </tr>

      <tr>
        <td class="trWhen"></td>
        <td class="trWhat"></td>
        <td class="trWhere"></td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <div class="loading">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>