<div class="timeline" *ngIf="events?.length > 0; else loading">
  <table>
    <tbody>
      <tr class="events">
        <td class="trWhen"></td>
        <td class="trWhat"></td>
        <td class="trWhere"></td>
      </tr>

      <tr *ngFor="let event of events" class="events" routerLink="/detail/{{ event.url }}">
        <td class="trWhen">{{ event.when }}</td>
        <td class="trWhat">
          <div class="when-small">{{ event.when }}</div>
          <div class="what" [innerHTML]="event.what"></div>
          <div class="where-small">{{ event.where }}</div>
        </td>
        <td class="trWhere">{{ event.where }}
        </td>
      </tr>

      <tr class="events">
        <td class="trWhen"></td>
        <td class="trWhat"></td>
        <td class="trWhere"></td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <div class="loading">
    <div class="ball-pulse">
      <div class="loader">
        <div class="ball"></div>
      </div>
    </div>
  </div>
</ng-template>