<div class="pace  pace-inactive">
  <div class="pace-progress" data-progress-text="100%" data-progress="99"
    style="transform: translate3d(100%, 0px, 0px);">
    <div class="pace-progress-inner"></div>
  </div>
</div>
<div class="pace-activity"></div>

<div id="container">

  <div id="name">
    <div class="glitch"><a href="https://dinda.id" target="_blank"><i class="icon-globe"></i></a></div>
  </div>
  <nav>
    <div class="menu">
      <select dir="rtl">
        <option value="all" selected="selected">All</option>
        <option value="politic">Politic</option>
        <option value="science">Science</option>
        <option value="religion">Religion</option>
        <option value="Technology">Technology</option>
      </select>
    </div>
  </nav>

  <main>
    <app-event-list></app-event-list>
  </main>

</div>