<div class="pace  pace-inactive">
  <div class="pace-progress" data-progress-text="100%" data-progress="99"
    style="transform: translate3d(100%, 0px, 0px);">
    <div class="pace-progress-inner"></div>
  </div>
</div>
<div class="pace-activity"></div>

<div id="container">
  <div id="name">
    <div class="glitch" *ngIf="router.url === '/';else back"><a href="https://dinda.id" target="_blank"><i
          class="icon-globe"></i></a></div>
  </div>
  <ng-template #back>
    <a routerLink="/"><i class="icon-menu back"></i></a>
  </ng-template>

  <router-outlet></router-outlet>
</div>