<div id="container">
  <div class="timeline-inner">
    <div id="name">
      <div class="glitch" *ngIf="router.url === '/';else back">
        <a href="https://dinda.id" target="_blank"><i class="icon-globe"></i></a>
      </div>
    </div>
  </div>

  <ng-template #back>
    <a routerLink="/"><i class="icon-menu back"></i></a>
  </ng-template>

  <nav *ngIf="router.url !== '/'; else menulink">
    <div class="back-link">
      <a routerLink="/">Back</a>
    </div>
  </nav>

  <ng-template #menulink>
    <div class="menu">
      <select dir="rtl" #categories (change)='changeCategory(categories.value)' [(ngModel)]='selectedCategory'>
        <option *ngFor="let o of options">
          {{o.name}}
        </option>
      </select>
    </div>
  </ng-template>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>