<div class="timeline details" *ngIf="event; else loading">
  <div class="when">{{ event.when }}</div>
  <div class="where">{{ event.where }}</div>
  <h3 [innerHTML]="event.what"></h3>

  <figure class="img-figure" *ngIf="event.is_photo != ''">
    <div class="img-container">
      <div class="img-wrapper">
        <div
          class="img"
          style="background-image:url('assets/img/{{ event.is_photo }}')"
        ></div>
        <div
          class="img"
          style="background-image:url('assets/img/{{ event.is_photo }}')"
        ></div>
        <div
          class="img"
          style="background-image:url('assets/img/{{ event.is_photo }}')"
        ></div>
        <div
          class="img"
          style="background-image:url('assets/img/{{ event.is_photo }}')"
        ></div>
        <div
          class="img"
          style="background-image:url('assets/img/{{ event.is_photo }}')"
        ></div>
      </div>
    </div>
    <figcaption [innerHTML]="event.photo_credit"></figcaption>
  </figure>

  <p [innerHTML]="event.details"></p>
</div>

<div class="pagination">
  <ul>
    <li class="prev">
      <span>
        <a routerLink="/detail/{{ prev.url }}" *ngIf="prev" rel="prev">
          <i>Prev</i>
          <small [innerHTML]="prev.what | striphtml"></small>
        </a>
      </span>
    </li>
    <li class="next">
      <span>
        <a routerLink="/detail/{{ next.url }}" *ngIf="next" rel="next">
          <i>Next</i>
          <small [innerHTML]="next.what | striphtml"></small>
        </a>
      </span>
    </li>
  </ul>
</div>

<ng-template #loading>
  <div class="loading">
    <div class="ball-pulse">
      <div class="loader">
        <div class="ball"></div>
      </div>
    </div>
  </div>
</ng-template>
