.details {
    padding: 5% 15%;
    width: 40%;
}

.details h3 {
    font-size: 120%;
    font-weight: 700;
}

.details .when {
    font-family: 'Roboto Mono', monospace;
}

.details .where {
    font-weight: 400;
    font-style: italic;
}

.details p {
    margin-top: 30px;
}