
/* Responsive : Upper Limit
----------------------------------------------- */
@media screen and (max-width: 375px) and (orientation: portrait),
screen and (max-width : 1024px) and (orientation: landscape)
{
  body, select, table .trWhen {
  	font-size: 14px;
  }
  .trWhere, .trWhat .where-small  {
    display: none;
  }

  #name {
    font-size: 25px;
    padding: 0 10px;
  }

  .not-found {
    left: 40%;
  }
}

/* Responsive : iPad
----------------------------------------------- */

@media screen and (max-width : 1024px) and (orientation: landscape)
{
  .trWhere, .trWhat .where-small {
    display: block;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait)
{
  body, select, table .trWhen {
    font-size: 14px;
  }
  #name {
    font-size: 25px;
    padding: 0 10px;
  }
  .not-found {
    left: 40%;
  }
}

/* Responsive : iPad Pro 10.5 Split
----------------------------------------------- */

@media screen and (max-width : 504px) and (orientation: portrait)
{
  body, select, table .trWhen {
    font-size: 14px;
  }
  #name {
    font-size: 25px;
    padding: 0 10px;
  }
  .not-found {
    left: 40%;
  }
}


/* Responsive : Mobile L
----------------------------------------------- */

@media screen and (max-width : 425px) and (orientation: portrait)
{
  body, select {
    font-size: 14px;
  }
  .trWhen {
    display: none;
  }
  .trWhat .when-small {
    display: block;
  }
  #name {
    font-size: 25px;
    padding: 0 10px;
  }
  .not-found {
    left: 40%;
  }
}


/* Responsive : iPhone 6 Plus
----------------------------------------------- */


@media screen and (max-width : 736px) and (orientation: landscape)
{
  .trWhere {
    display: block;
  }
  .trWhat .where-small {
    display: none;
  }
}
@media screen and (max-width : 414px) and (orientation: portrait)
{
  body, select {
    font-size: 14px;
  }
  .trWhen {
    display: none;
  }
  .trWhat .when-small {
    display: block;
  }

  #name {
    font-size: 25px;
    padding: 0 10px;
  }
  .not-found {
    left: 40%;
  }
}

/* Responsive : iPhone 6
----------------------------------------------- */


@media screen and (max-width : 667px) and (orientation: landscape)
{
  .trWhen, .trWhere {
    display: block;
  } 
  .trWhat .where-small, .trWhat .when-small {
    display: none;
  }
}
@media screen and (max-width : 375px) and (orientation: portrait)
{
  body, select {
    font-size: 14px;
  }
  .trWhen, .trWhere {
    display: none;
  }
  .trWhat .where-small, .trWhat .when-small {
    display: block;
  }
  .trWhat {
    padding-right: 1em;
  }
  #name {
    font-size: 25px;
    padding: 0 10px;
  }
  .not-found {
    left: 40%;
  }
  /* iPhone X browser overflow-x fix */
  main {
    max-width: 375px; /* match media query width */
  } 

  
}

/* Responsive : iPhone SE
----------------------------------------------- */


@media screen and (max-width : 320px) and (orientation: portrait)
{
  body, select, table .trWhen {
    font-size: 14px;
  }

  .img-figure .img-container {
    padding: 2rem;
  }

  .img-wrapper {
    height: 150px;
  }

  .trWhere {
    display: none;
  }
  .trWhat .where-small {
    display: block;
  }
  .trWhat {
    padding-right: 0.5em;
  }
  .not-found {
    left: 40%;
  }
  /* iPhone X browser overflow-x fix */
  #name {
    display: none;
  }
  .details {
      padding: 5%;
      width: 90%;
  }
  .timeline {
    margin-left: 1.25em;
    padding-left: 1.25em;
  }
  main {
    max-width: 320px; /* match media query width */
  }
}