@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot');
  src: url('fonts/fontello.eot') format('embedded-opentype'),
  url('fonts/fontello.woff') format('woff'),
  url('fonts/fontello.ttf') format('truetype'),
  url('fonts/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Reset
-------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
timeline, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-selection {
  color: #fff;
  background: #141414;
}

::selection {
  color: #fff;
  background: #141414;
}

:focus, a {
  -moz-outline-style: none;
  outline: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

/* Fonts and icon
-------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

strong, b {
  font-weight: normal;
}

em, i {
  font-style: normal;
  white-space: nowrap;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  background: -webkit-linear-gradient(left, rgba(184,255,243,0.9), rgba(184,255,243,1));
  background: linear-gradient(to right, rgba(184,255,243,1), rgba(184,255,243,1));
  background-size: 300% 40%;
  background-repeat: no-repeat;
  background-position: -5% 100%;
  -webkit-transition-property: background-position;
  transition-property: background-position;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  padding: 0 5px 0 0;;
}

a:hover {
  background: -webkit-linear-gradient(left, rgba(184,255,243,1), rgba(184,255,243,1));
  background: linear-gradient(to right, rgba(184,255,243,1), rgba(184,255,243,1));
  background-size: 300% 40%;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  padding: 0 5px 0 0;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
 
.icon-globe:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-email:before { content: '\e801'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
/* Base
----------------------------------------------- */

body, select {
  color: #141414;
  background: #fff;
  font-family: 'Cardo', serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5em;
}

select {
  background: transparent;
  x-webkit-appearance: menulist-button;
  xline-height: 2em;
}

a:link, a:visited {
  color: #141414;
  text-decoration: none;
}

a:hover, a:active {
  color: #141414;
}

/* Container
----------------------------------------------- */

#container {
  margin-left: 0;
  margin-right: 0;
  height: auto;
  width: auto;
}

/* Header : Name and About
----------------------------------------------- */
@-webkit-keyframes Gradient {
  0%  {background-position:0% 50%}
  50% {background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
0%  {background-position:0% 50%}
  50% {background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes Gradient { 
0%  {background-position:0% 50%}
  50% {background-position:100% 50%}
  100%{background-position:0% 50%}
}

#name {
  float: left;
  position: fixed;
  padding: 0 20px;
  z-index: 5;
  height: 100%;
  background: linear-gradient(24deg,#00F260, #7bfce6, #0575E6);
  background-size: 400% 100%;
  -webkit-animation: Gradient 2s ease infinite;
  -moz-animation: Gradient 2s ease infinite;
  animation: Gradient 2s ease infinite;
  /*    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;*/
  font-size: 30px;
}


.about {
  position: absolute;
  padding-left: 5px;
  bottom: 2em;
  z-index: 110;
  font-size: 16px;
}

.about a i {
  color:black;
  font-size: 110%;

}

#name a, .about a {
  text-decoration: none;
  background: none;
}

#name .logo {
  top: 50%;
  color: #000;
  position: relative;
  line-height: 1;
}

#name .logo {
  writing-mode: vertical-rl;  
  -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
}

figure {
    margin: 1rem 0;
}

.img-wrapper {
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    height:150px;
    width:auto;
    
    margin-bottom: 30px;
    transition: all 0.3s ease-out;
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, .07), 0 15px 25px rgba(100, 100, 100, .3);*/
    box-shadow: 20px 20px 25px #ccc;

}

.img-wrapper:hover {
  width:100%;
  box-shadow: 10px 10px 18px #dadada;
  margin-bottom:32px;
  margin-top:-4px
  }

.img-wrapper .img {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height:100%;
    border-radius: 2px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.img-wrapper .img:nth-child(n+2) {
  opacity: 0;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.img-wrapper .img:nth-child(2) {
  background-color: transparent;
  background-blend-mode: none;
  animation-name: glitch-anim-2;
}
.img-wrapper .img:nth-child(2) {
  background-color: transparent;
  background-blend-mode: none;
  animation-name: glitch-anim-3;
}
.img-wrapper .img:nth-child(4) {
  background-color: transparent;
  background-blend-mode: none;
  animation-name: glitch-anim-4;
}
.img-wrapper .img:nth-child(5) {
  background-color: #af4949;
  background-blend-mode: overlay;
  animation-name: glitch-anim-flash;
}

figcaption {
    font-size: 70%;
    line-height: .8rem;
    text-align: center;
    margin-top: .1rem;
    color: black;
}

figcaption:before {
  content: "Foto oleh ";
}

figcaption a {
    background: none;
}

.nav-bottom {
    display: block;
    height: 60px;
    margin-top: 0px;
}

@media(min-width: 900px) {
    .img-figure .img-container {
        padding: 0 2rem 0 2rem;
    }

    .img-wrapper {
      height: 300px;
    }
    
    figure {
      margin: 2rem 0;
    }

    .nav-bottom {
      margin-top: -40px;
    }
}

a.no-underline {
  background: none;
  padding: 0;
  font-size: 70%;
}

.left {
  text-align: left;
  float: left;
}

.right {
  text-align: right;
  float: right;
}

.left span{
    padding-left: .5rem;
}

.right span {
    padding-right: .5rem;
    
}

.left:before {
  content: "<"; /* fa-angle-down */
}

.right:after {
  content: ">"; /* fa-angle-down */
}

@keyframes glitch-anim-flash {
  0%,5% {
    opacity: 0.2;
    transform: translate3d(none, 100vh, 0);
  }
  5.5%,100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(53px, 9999px, 13px, 0);
  }
  5% {
    clip: rect(156px, 9999px, 153px, 0);
  }
  10% {
    clip: rect(121px, 9999px, 104px, 0);
  }
  15% {
    clip: rect(21px, 9999px, 164px, 0);
  }
  20% {
    clip: rect(156px, 9999px, 106px, 0);
  }
  25% {
    clip: rect(42px, 9999px, 82px, 0);
  }
  30% {
    clip: rect(135px, 9999px, 163px, 0);
  }
  35% {
    clip: rect(92px, 9999px, 124px, 0);
  }
  40% {
    clip: rect(26px, 9999px, 160px, 0);
  }
  45% {
    clip: rect(124px, 9999px, 24px, 0);
  }
  50% {
    clip: rect(117px, 9999px, 59px, 0);
  }
  55% {
    clip: rect(46px, 9999px, 113px, 0);
  }
  60% {
    clip: rect(19px, 9999px, 46px, 0);
  }
  65% {
    clip: rect(108px, 9999px, 41px, 0);
  }
  70% {
    clip: rect(54px, 9999px, 148px, 0);
  }
  75% {
    clip: rect(18px, 9999px, 109px, 0);
  }
  80% {
    clip: rect(81px, 9999px, 83px, 0);
  }
  85% {
    clip: rect(63px, 9999px, 31px, 0);
  }
  90% {
    clip: rect(8px, 9999px, 142px, 0);
  }
  95% {
    clip: rect(89px, 9999px, 99px, 0);
  }
  100% {
    clip: rect(29px, 9999px, 110px, 0);
  }
}
@keyframes glitch-anim-2 {
  0% {
    opacity: 1;
    transform: translate3d(10px, 0, 0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  2% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  4% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  6% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  8% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  10% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  12% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  14% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  16% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  18% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(10px, 0, 0);
  }
  22%, 100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}
@keyframes glitch-anim-3 {
  0% {
    opacity: 1;
    transform: translate3d(calc(-1 * 10px), 0, 0);
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
  }
  3% {
    -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }
  5% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
  }
  7% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  9% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
  }
  11% {
    -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
  }
  13% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  15% {
    -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
  }
  17% {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
  }
  19% {
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
  }
  20% {
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(calc(-1 * 10px), 0, 0);
  }
  22%, 100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}
@keyframes glitch-anim-4 {
  0% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * 5px), 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
  }
  1.5% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
  }
  2% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
  }
  2.5% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  3% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
  }
  5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
  }
  5.5% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
  }
  7% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
  }
  8% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  9% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
  }
  10.5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
  }
  11% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
  }
  13% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
  }
  14% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
  }
  14.5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
  }
  15% {
    -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
  }
  16% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  18% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * 5px), 0) scale3d(-1, -1, 1);
  }
  22%, 100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

/* Main
----------------------------------------------- */

main {
  top: 0;
  left: 0;
  z-index: 3;
  height: auto;
  width: auto;
}


/* Nav : Menu
----------------------------------------------- */

select {
  margin: 0;
  padding: 0 0.75em 0 0;
  width: auto;
  border: none;
  background: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-family: 'Roboto Mono', monospace;

}

select:focus {
  outline: none;
  border: none;
}

.menu, .back-link {
  font-family: 'Roboto Mono', monospace;
  position: fixed;
  width: auto;
  right: .5em;
  top: 1.25em;
  z-index: 4;
}

.back-link {
  padding-left: 15px;
}

.back-link a {
  text-decoration: none;
  background: none;
}

.menu::after {
  font-family: fontello;
  content: "\e808"; /* fa-angle-down */
  position: absolute;
  right: 0;
  z-index: 3;
  pointer-events: none;
}

.back-link::after {
  font-family: fontello;
  content: "\e80b"; /* fa-angle-down */
  position: absolute;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

/* timeline : Index
----------------------------------------------- */
.timeline { padding: 0em 4em }

.timeline table {
  width: 100%;
}

table tr td {
  padding-bottom: 1em; /* 1.0em */
  padding-top: 1em;
}

tr {
  border-top: 1px solid #fff;
  cursor: pointer;
}

tr:hover {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.trWhich {
  width: 3%;
  padding-left: 2em;
  text-align: right;
}

.trWhen {
  font-family: 'Roboto Mono', monospace;
  font-size:90%;
  width: 10%;
  padding-left: 2em;
  padding-right: 2em;
  text-align: right;
  min-width: 4em;
}

.trWhat {
  width: 80%;
  min-width: 9em;
  font-weight: 700;
  xletter-spacing: -0.0125em; /* no */
  xletter-spacing: -0.0175em; /* ok */
  letter-spacing: -0.025em; /* original, tightest, tho resembles helvetica */
}

.trWhat .when-small {
  font-family: 'Roboto Mono', monospace;
  font-size:90%;
  font-weight: 300;
  display: none;
}

.trWhat .where-small {
  font-weight: 400;
  font-style: italic;
  display: none;
}

.trWhere {
  width: 10%;
  padding-left: 2em;
  padding-right: 2em;
  white-space: nowrap;
}

.source::before {
  content: "Sumber:";
  display: block;

}
.source {
  padding-top: 30px;
  font-size: 90%;
} 

.details {
    padding: 5% 15%;
    width: 40%;
}

.details h3 {
  font-size: 120%;
  font-weight: 700;
  xletter-spacing: -0.0125em; /* no */
  xletter-spacing: -0.0175em; /* ok */
  letter-spacing: -0.025em; /* original, tightest, tho resembles helvetica */
}

.details h3 a {
  text-decoration: none;
  background: none;
}

.details .when {
    font-family: 'Roboto Mono', monospace;
}

.details .where {
    font-weight: 400;
    font-style: italic;
}

.details p {
    margin-top: 30px;
}

/* Effects : Loader
----------------------------------------------- */

.loading {
  position: fixed;
  top: 50%;
  left: 50%; 
}

.ball-pulse .loader {
  width: 100px;
  height: 100px;
}

.ball-pulse .ball {
  margin: 0;
  width: 50%;
  height: 50%;
  background-color: #666;
  border-radius: 50%;
  animation: ballPulse 2s ease-in-out infinite; }

@keyframes ballPulse {
  0% {
    transform: scale(0); 
  }
  100% {
    transform: scale(1);
    opacity: 0.0; 
  } 
}
    
/* Effects : Scrollbar
----------------------------------------------- */
html {
  overflow-y: scroll; /* force scroll to remove the right-margin jump */
}

::-webkit-scrollbar {
  width: 0.5em; /* for vertical scrollbars */
  height: 0.5em; /* for horizontal scrollbars */
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #141414;
}

::-webkit-scrollbar-thumb:hover {
  background: #141414;
}

/* Effects : Fade In Page
----------------------------------------------- */
.events {
  padding-right: 10px;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to 	 { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to 	 { opacity: 1; }
}

/* Effects - Cascade In Elements (and remove page flicker)
----------------------------------------------- */
table {
  opacity: 1;
}

/* Effects - Responsive Easing
----------------------------------------------- */
select {
  color: #141414;
}

a:link, a:visited, a:hover, a:active {
  color: #141414;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #141414;
}

::-webkit-scrollbar-thumb:hover {
  background: #141414;
}

a:focus, a:hover, tr:hover, tr:hover a, select:hover, select:focus, .lbClose:hover, tr:hover > .trWhat div {
  -webkit-animation: breath ease-in-out 1.5s infinite;
  -moz-animation:    breath ease-in-out 1.5s infinite;
  -o-animation:      breath ease-in-out 1.5s infinite;
  animation:         breath ease-in-out 1.5s infinite;
}

@-webkit-keyframes breath {
  0% { opacity: 1; }
  50% { opacity: .57; }
  100% { opacity: 1; }
}

@-moz-keyframes breath {
  0% { opacity: 1; }
  50% { opacity: .57; }
  100% { opacity: 1; }
}

@-o-keyframes {
  0% { opacity: 1; }
  50% { opacity: .57; }
  100% { opacity: 1; }
}

@keyframes breath {
  0% { opacity: 1; }
  50% { opacity: .57; }
  100% { opacity: 1; }
}

.pagination{ width: 100%; border-top: 1px solid #eee; font-size: 0; }
.pagination ul{ font-size: 0; display: table; width: 100%; }
.pagination ul li{ text-align: center; display: table-cell; width: 50%; box-shadow: 1px 1px 0px 0px rgba(0,0,0,.1); height: 230px; vertical-align: middle; }
.pagination ul li span{ padding: 0 60px; display: inline-block; }

.pagination ul li a i{display: block; font-size: 14px; text-align: left;}

.pagination ul li i:before{ content: ""; display: block; position: absolute; width: 30px; height: 2px; background: #eee; }

.pagination ul li.next a i:before{ right: 6px; top: -1px; }
.pagination ul li.prev a i:before{ left: 6px; top: -1px; }
.pagination ul li a{ display: inline-block; background: none;}

.pagination ul li a small{ font-size: 18px; border-bottom: 1px dotted rgba(0,0,0,0.1); line-height: 30px; }
.pagination ul li a:hover small{ border-bottom: 1px solid rgba(0,0,0,.2); }