@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot');
  src: url('fonts/fontello.eot') format('embedded-opentype'),
  url('fonts/fontello.woff') format('woff'),
  url('fonts/fontello.ttf') format('truetype'),
  url('fonts/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Reset
-------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
timeline, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-selection {
  color: #fff;
  background: #141414;
}

::selection {
  color: #fff;
  background: #141414;
}

:focus, a {
  -moz-outline-style: none;
  outline: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

/* Fonts and icon
-------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

strong, b {
  font-weight: normal;
}

em, i {
  font-style: normal;
  white-space: nowrap;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  background: -webkit-linear-gradient(left, rgba(184,255,243,0.9), rgba(184,255,243,1));
  background: linear-gradient(to right, rgba(184,255,243,1), rgba(184,255,243,1));
  background-size: 300% 40%;
  background-repeat: no-repeat;
  background-position: -5% 100%;
  -webkit-transition-property: background-position;
  transition-property: background-position;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  padding: 0 5px 0 0;;
  color: #666;
}

a:hover {
  background: -webkit-linear-gradient(left, rgba(184,255,243,1), rgba(184,255,243,1));
  background: linear-gradient(to right, rgba(184,255,243,1), rgba(184,255,243,1));
  background-size: 300% 40%;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  padding: 0 5px 0 0;
  color: #666;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
 
.icon-globe:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */

/* Base
----------------------------------------------- */

body, select {
  color: #141414;
  background: #fff;
  font-family: 'Cardo', serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5em;
  xletter-spacing: -0.0125em; /* no */
  xletter-spacing: -0.0175em; /* ok */
  letter-spacing: -0.025em; /* original, tightest, tho resembles helvetica */
}

select {
  background: transparent;
  x-webkit-appearance: menulist-button;
  xline-height: 2em;
}

a:link, a:visited {
  color: #141414;
  text-decoration: none;
}

a:hover, a:active {
  color: #141414;
}

code {
  font-size: 18px;
  line-height: 1em;
}

/* Container
----------------------------------------------- */

#container {
  margin-left: 0;
  margin-right: 0;
  height: auto;
  width: auto;
}

/* Header : Name
----------------------------------------------- */

#name {
  float: left;
  position: fixed;
  padding: 0 20px;
  z-index: 5;
  height: 100%;
  border-right: 1px solid #eee;
  background: white;
  font-size: 40px;

}

#name a {
  text-decoration: none;
  background: none;
}

#name .logo {
  top: 50%;
  color: #000;
  position: relative;
  line-height: 1;
}

.glitch:before {
  font-family: fontello;
  content: "\e80a";
  position: absolute;
  left: 1px;
  text-shadow: 1px 0 #4e73df;
  top: 0;
  color: #000;
  background: #fff;
  overflow: hidden;
  clip: rect(0,900px,0,0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.glitch:after {
  font-family: fontello;
  content: "\e80a";
  position: absolute;
  left: 1px;
  text-shadow: -1px 0 #e74a3b;
  top: 0;
  color: #000;
  background: #fff;
  overflow: hidden;
  clip: rect(0,900px,0,0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim{
  0%{clip:rect(89px,9999px,100px,0)}
  5%{clip:rect(4px,9999px,62px,0)}
  10%{clip:rect(43px,9999px,16px,0)}
  15%{clip:rect(2px,9999px,68px,0)}
  20%{clip:rect(12px,9999px,6px,0)}
  25%{clip:rect(89px,9999px,25px,0)}
  30%{clip:rect(15px,9999px,38px,0)}
  35%{clip:rect(57px,9999px,97px,0)}
  40%{clip:rect(24px,9999px,72px,0)}
  45%{clip:rect(81px,9999px,3px,0)}
  50%{clip:rect(93px,9999px,26px,0)}
  55%{clip:rect(68px,9999px,85px,0)}
  60%{clip:rect(43px,9999px,28px,0)}
  65%{clip:rect(44px,9999px,11px,0)}
  70%{clip:rect(17px,9999px,33px,0)}
  75%{clip:rect(74px,9999px,66px,0)}
  80%{clip:rect(100px,9999px,4px,0)}
  85%{clip:rect(92px,9999px,31px,0)}
  90%{clip:rect(93px,9999px,98px,0)}
  95%{clip:rect(23px,9999px,77px,0)}
  100%{clip:rect(92px,9999px,8px,0)}
}

@keyframes noise-anim{
  0%{clip:rect(89px,9999px,100px,0)}
  5%{clip:rect(4px,9999px,62px,0)}
  10%{clip:rect(43px,9999px,16px,0)}
  15%{clip:rect(2px,9999px,68px,0)}
  20%{clip:rect(12px,9999px,6px,0)}
  25%{clip:rect(89px,9999px,25px,0)}
  30%{clip:rect(15px,9999px,38px,0)}
  35%{clip:rect(57px,9999px,97px,0)}
  40%{clip:rect(24px,9999px,72px,0)}
  45%{clip:rect(81px,9999px,3px,0)}
  50%{clip:rect(93px,9999px,26px,0)}
  55%{clip:rect(68px,9999px,85px,0)}
  60%{clip:rect(43px,9999px,28px,0)}
  65%{clip:rect(44px,9999px,11px,0)}
  70%{clip:rect(17px,9999px,33px,0)}
  75%{clip:rect(74px,9999px,66px,0)}
  80%{clip:rect(100px,9999px,4px,0)}
  85%{clip:rect(92px,9999px,31px,0)}
  90%{clip:rect(93px,9999px,98px,0)}
  95%{clip:rect(23px,9999px,77px,0)}
  100%{clip:rect(92px,9999px,8px,0)}
}

/* Main
----------------------------------------------- */

main {
  top: 0;
  left: 0;
  z-index: 3;
  height: auto;
  width: auto;
}


/* Nav : Menu
----------------------------------------------- */

select {
  margin: 0;
  padding: 0 0.75em 0 0;
  width: auto;
  border: none;
  background: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-family: 'Roboto Mono', monospace;

}

select:focus {
  outline: none;
  border: none;
}

.menu, .back-link {
  font-family: 'Roboto Mono', monospace;
  position: fixed;
  width: auto;
  right: .5em;
  top: 1.25em;
  z-index: 4;
}

.back-link {
  padding-left: 15px;
}

.back-link a {
  text-decoration: none;
  background: none;
}

.menu::after {
  font-family: fontello;
  content: "\e808"; /* fa-angle-down */
  position: absolute;
  right: 0;
  z-index: 3;
  pointer-events: none;
}

.back-link::after {
  font-family: fontello;
  content: "\e80b"; /* fa-angle-down */
  position: absolute;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

/* timeline : Index
----------------------------------------------- */
.timeline { padding: 0em 4em }

.timeline table {
  width: 100%;
}

table tr td {
  padding-bottom: 1em; /* 1.0em */
  padding-top: 1em;
}

tr {
  border-top: 1px solid #fff;
  cursor: pointer;
}

tr:hover {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.trWhen {
  font-family: 'Roboto Mono', monospace;
  font-size:90%;
  width: 10%;
  padding-left: 2em;
  padding-right: 2em;
  text-align: right;
  min-width: 4em;
}

.trWhat {
  width: 80%;
  min-width: 9em;
  font-weight: 700;
}

.trWhat .when-small {
  font-family: 'Roboto Mono', monospace;
  font-size:90%;
  font-weight: 300;
  display: none;
}

.trWhat .where-small {
  font-weight: 400;
  font-style: italic;
  display: none;
}

.trWhere {
  width: 10%;
  padding-left: 2em;
  padding-right: 2em;
  white-space: nowrap;
}

.source::before {
  content: "Sumber:";
  display: block;

}
.source {
  padding-top: 30px;
  font-size: 90%;
} 

/* Effects : Loader
----------------------------------------------- */

.loading {
  position: fixed;
  top: 50%;
  left: 50%; 
}

.ball-pulse .loader {
  width: 100px;
  height: 100px;
}

.ball-pulse .ball {
  margin: 0;
  width: 50%;
  height: 50%;
  background-color: #666;
  border-radius: 50%;
  animation: ballPulse 2s ease-in-out infinite; }

@keyframes ballPulse {
  0% {
    transform: scale(0); 
  }
  100% {
    transform: scale(1);
    opacity: 0.0; 
  } 
}
    
/* Effects : Scrollbar
----------------------------------------------- */
html {
  overflow-y: scroll; /* force scroll to remove the right-margin jump */
}

::-webkit-scrollbar {
  width: 0.5em; /* for vertical scrollbars */
  height: 0.5em; /* for horizontal scrollbars */
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #141414;
}

::-webkit-scrollbar-thumb:hover {
  background: #141414;
}

/* Effects : Fade In Page
----------------------------------------------- */
.events {
  padding-right: 10px;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to 	 { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to 	 { opacity: 1; }
}

/* Effects - Cascade In Elements (and remove page flicker)
----------------------------------------------- */
table {
  opacity: 1;
}

/* Effects - Responsive Easing
----------------------------------------------- */
select {
  color: #141414;
}

a:link, a:visited, a:hover, a:active {
  color: #141414;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #141414;
}

::-webkit-scrollbar-thumb:hover {
  background: #141414;
}

a:focus, a:hover, tr:hover, tr:hover a, select:hover, select:focus, .lbClose:hover, tr:hover > .trWhat div {
  -webkit-animation: breath ease-in-out 1.5s infinite;
  -moz-animation:    breath ease-in-out 1.5s infinite;
  -o-animation:      breath ease-in-out 1.5s infinite;
  animation:         breath ease-in-out 1.5s infinite;
}

@-webkit-keyframes breath {
  0% { opacity: 1; }
  50% { opacity: .57; }
  100% { opacity: 1; }
}

@-moz-keyframes breath {
  0% { opacity: 1; }
  50% { opacity: .57; }
  100% { opacity: 1; }
}

@-o-keyframes {
  0% { opacity: 1; }
  50% { opacity: .57; }
  100% { opacity: 1; }
}

@keyframes breath {
  0% { opacity: 1; }
  50% { opacity: .57; }
  100% { opacity: 1; }
}